@include critical(true) {
  .latestarticlesaos {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    @include md {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}